[Desktop Entry]
Type=Application
Name=Nekoviewer
GenericName=Image/Comic Viewer
Comment=Fast image and comic archive viewer
Comment[ja]=画像・コミックアーカイブビューア
Exec=nekoviewer %f
Icon=nekoviewer
Categories=Graphics;Viewer;
Terminal=false
